<%- include('./partials/header.ejs')%>
<div class="container" >
    <div class = "aboutUsContent">
    <br>
    <h2>Games and Sports Equipment</h2>
    <h3>Welcome to our Games and Sports Equipment Site!!!!!!</h3>
    <p>Here you'll find everything you need to get active and have fun! We are a one-stop-shop for all your sporting and gaming needs, with a wide selection of high-quality equipment and supplies to choose from.
        <br><br>
        Whether you're a seasoned athlete or just starting out, we've got you covered. Our range of products includes equipment for team sports, individual sports, and a variety of games, so you can find exactly what you need to enjoy your favorite activities. </p>
</div>
</div>
    
<%- include('./partials/footer.ejs')%>