<%- include('./partials/header.ejs')%>
<div class="container" >
    <div class = "contactUsContent">
    <br>
    <h2>Contact Games and Sports Equipment</h2>
    <span>For Queries contact Us at <a href = "#">gameandsports@gmail.com </a> </span><br>
    <span>+1-104-153-1468</span><br><br>
    <span>Provide your feedback and support at <a href = "#">feedbackgameandsports@gmail.com </a> </span><br>
    <span>+1-174-183-1468</span>

    <h2>Thankyou !!!</h2>
</div>
</div>
    
<%- include('./partials/footer.ejs')%>