<%- include('./partials/header.ejs') %>
    <div id="mainDescription">
        <h1>Welcome to Games and Sports!</h1>
        <p>Why go to gym when we can stay happy and healthy by playing games and sports? #gamesAndSports
        </p>
    </div>
<%- include('./partials/footer.ejs') %>