<footer>
    <span id ="copyright">&copy; Games and Sports</span>
    <a href = "/about" id = "aboutUs"><span >About Us</span> </a>
    <a href = "/contact" id = "contactUs"><span >Contact Us</span>  </a>  
    <span ><a href = "https://twitter.com/login?lang=en" target="_blank" class="fa fa-twitter" id = "twitter"></a></span>
    <span ><a href = "https://www.facebook.com/login/" target ="_blank" class="fa fa-facebook" id = "facebook"></a></span>
 </footer>
</body>
</html>